{% extends 'base.html' %}
{% block title %}Create halftask{% endblock %}
{% block content %}
<h1>Create HalfTask</h1>
<form action="/create" method="POST">
    <label for="id_name">
        Name:
        <input type="text" value="" name="name" id="id_name"/>
    </label>
    <label for="id_deadline">
        Deadline:
        <input type="date" value="" name="deadline" id="id_deadline" />
    </label>
    <label for="id_settime">
        Set time:
        <input type="date" value="" name="settime" id="id_settime" />
    </label>

    <input type="submit" />
</form>
{% endblock %}