{% extends 'base.html' %}
{% block title %}{{ halftask.name|capitalize() }}{% endblock %}
{% block content %}
<h1>{{ halftask.name|capitalize() }}</h1>
<p>Deadline: {{ halftask.settime.strftime("%d.%m.%Y") }}</p>
<p>Settime: {{ halftask.deadline.strftime("%d.%m.%Y") }}</p>
<ul>
{% for notification in notifications %}
        <li>{{ notification.title }}</li>
            <ul>
                <li>Notify on: {{ notification.time.strftime("%d.%m.%Y") }}</li>
                <li>Notified: <input id="{{ notification.key().id() }}" name="{{ notification.key().id() }}_notified" type="checkbox" {% if notification.notified %}checked{% endif %} onclick="Notify(this)"/></li>
                {% if notification.gcal_event_link %}<li>{{ notification.gcal_event_link }}</li>{% endif %}

            </ul>
{% endfor %}
</ul>
{% if notifications %}<a href="/addevent/{{ halftask.key().id() }}">Add notifications to Google Calendar</a>{% else %}
<a href="/genotifications/{{ halftask.key().id() }}/">Generate notifications</a>{% endif %}
{% endblock %}
{% block extra_js %}
<script src="/static/js/async.js" type="text/javascript"></script>
{% endblock %}