{% extends 'base.html' %}
{% block title %}Halftime{% endblock %}
{% block content %}
{% if user %}
    <h1>Welcome, {% if user %}{{ user }}{% else %}anonymous{% endif %}!</h1>
    {{ success }}
    <!--<a href="{{ login_url }}">Login to your Google Account</a>-->
    {% if ht %}
            <ul>
            {% for h in ht %}
                <li><a href="halftask/{{ h.key().id() }}/">{{ h.name }}</a></li>
            {% endfor %}
            </ul>
    {% else %}
            No HalfTasks
    {% endif %}
    <a href="/create">Create Halftask</a>
{% else %}
<p>To get started <a href="{{ login_url }}">Login to your Google Account</a></p>
{% endif %}
{% endblock %}
